@font-face {
  font-family: "Helvetica Neue";
  src: "HelveticaNeue-Thin.otf"
}
#drop {
  font-size: 25pt;
  color: black;
  font-family: Helvetica Neue;
  padding-top: 2.25%;
  font-style: bold;
  padding-right: 10.25%;
  letter-spacing: 5px;
}
#navBar{
  /*border: 1px solid green;*/
  overflow: auto;
  width: 101.5%;
  margin-bottom: 0px;
  height: 120px;
  background-color: white;
  position: fixed;
  z-index: 100;
}
.navTab{
  /*border: 1px solid red;*/
  width: 10%;
  height: 100%;
  float:right;
  overflow: auto;
  font-family: Helvetica Neue;
  font-size: 15pt;
  color: grey;
  padding-top: 3%;
  padding-left: 5px;
}
#teardrop img {
  /*border: 1px solid blue;*/
  position: absolute;
  height: 35px;
  left: 200px;
  top: 35px;
}
.welcome{
  /*border: 1px solid purple;*/
  font-family: Helvetica Neue;
  font-size: 40px;
  color: black;
  font-weight:100;
  position: absolute;
  z-index: ;
  top: 35%;
  left: 41%;
}
.page{
  height: 100%;
  overflow:auto;
  margin: -10px;
}
#water{
  width: 101%;
  height: 850px;
}
#info{
  font-size: 50px;
}
