@font-face {
  font-family: "Helvetica Neue";
  src: "HelveticaNeue-Thin.otf"
}
#drop {
  font-size: 25pt;
  color: black;
  font-family: Helvetica Neue;
  padding-top: 2.25%;
  font-style: bold;
  float:left;
  letter-spacing: 5px;
}
/*#info{
  font-size: 50px;
}*/
/*#about{
margin-right: 15%;
}*/
#navBar{
  overflow: auto;
  width: 101.5%;
  margin-bottom: 0px;
  height: 120px;
  background-color: white;
  position: fixed;
}
.navTab{
  width: 14.145%;
  height: 100%;
  float:left;
  overflow: auto;
  font-family: Helvetica Neue;
  font-size: 15pt;
  color: grey;
  padding-top: 3%;
}
#teardrop img {
  position: absolute;
  height: 35px;
  left: 160px;
  top: 32px;
}
.welcome{
  font-family: Helvetica Neue;
  font-size: 40px;
  color: black;
  font-weight:100;
  position: absolute;
  z-index: 0;
  top: 35%;
  left: 41%;
  /*margin: 0 auto;
  display: inline-block;*/
}
.page{
  height: 100%;
  overflow:auto;
  margin: -10px;
}
/*.welcomeWrapper {
  text-align: center;
}*/

/*#everything {
  margin-left: -16px;
}*/
#water{
  width: 101%;
  height: 850px;
  /*position: absolute;
  z-index: 0;*/
}
