@font-face {
  font-family: "Helvetica Neue";
  src: "HelveticaNeue-Thin.otf"
}
#navBar{
  border-bottom: 1px solid grey;
  overflow: auto;
  width: 101.5%;
  height: 10%;
  background-color: white;
  position:fixed;
  z-index: 3;
}
.navTab{
  width: 8%;
  height: 50%;
  float:right;
  overflow: auto;
  font-family: Helvetica Neue;
  font-size: 100%;
  color: grey;
  padding-top: 3%;
  padding-right: 2%;
}
.navTab1{
  float: right;
  white-space: nowrap;
  margin-right: 10%;
}
.navTab1 > div{
  display: inline-block;
}
#teardrop img {
  height:30px;
  padding-top: 30px;
}
#drop{
  font-size: 190%;
  color: black;
  font-family: Helvetica Neue;
  font-weight: bolder;
}
.page{
  height: 100%;
  margin: -10px;
}
#water{
  margin-top: 4.5%;
  width: 100%;
}
.welcome{
  font-family: Helvetica Neue;
  font-size: 250%;
  color: black;
  font-weight:100;
  position: absolute;
  z-index: ;
  top: 41%;
  left: 39%;
}
/*Start of a new page----------------*/
#info{
  height: 50px;
}
#letMe{
  margin-top: 7%;
  font-size: 40px;
  font-family: Helvetica Neue;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid grey;
}
#paragraph{
  margin-bottom: 10%;
  padding-top: 5%;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 200;
  color: grey;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
}
/*Start of a new page-----------------*/
#experience{
  height: 100px;
}
#instagram_holder{
  height: 600px;
  width: 300px;
  margin: 0%;
  overflow: auto;
}
#results{
  height: 600px;
  width: 300px;
  margin: 0%;
  overflow: auto;
}
.timeline{
  width: 300px;
  margin: 0%;
  overflow: auto;
}
#social_media_lines > div{
  display: inline-block;
}
#social_media_lines{
  height: 800px;
  text-align: center;
  margin-bottom: -195px;
  padding-bottom: -100%;
}
#ultimate_social{
  height:1000px;
  text-align: center;
}
#buttons{
  text-align: left;
  font-family: Helvetica Neue;
}
#count_image, #count_video,#youtube,#secret{
  text-align: left;
  width: 200px;
}
#search, #submit_count{
  width:55px;
}
input[type="text"]{
  font-family: Helvetica Neue;
}
input[type=submit]{
  font-family: Helvetica Neue;
  font-weight: bold;
}
/*Start of a new page---------------*/
#instagram{
  height: 140px;
}
.instagram2{
  text-align: center;
  border-bottom: 1px solid grey;
}
#instagrampic{
  width: 40%;
}
.instaparagraph{
  margin-bottom: 10%;
  padding-top: 5%;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 200;
  color: grey;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
}
/*Start of a new page----------------*/
#youtube3{
  height: 140px;
}
.youtube2{
  text-align: center;
  border-bottom: 1px solid grey;
}
#tubenamepic{
  width:20%;
}
.youtubeparagraph{
  margin-bottom: 10%;
  padding-top: 5%;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 200;
  color: grey;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
}
/*Start of a new page----------------*/
#twitter{
  height: 140px;
}
.twitter2{
  text-align: center;
  border-bottom: 1px solid grey;
}
#twitterlogopic{
  width:7%;
}
#twitterpic{
  width:27%;
}
.twitterparagraph{
  margin-bottom: 10%;
  padding-top: 5%;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 200;
  color: grey;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
}
/*Start of a new page----------------*/
#soundcloud{
  height: 140px;
}
.soundcloud2{
  border-bottom:1px solid grey;
  text-align: center;
}
#soundpic{
  width:25%;
}
.soundcloudparagraph{
  margin-bottom: 10%;
  padding-top: 5%;
  font-size: 25px;
  font-family: Helvetica Neue;
  font-weight: 200;
  color: grey;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
}
/*Start of a new page----------------*/
#aboutus{
  height: 75px;
}
.developers{
  font-family: Helvetica Neue;
  font-weight: normal;
  font-size: 40pt;
  text-align: center;
  border-bottom: 1px solid grey;
}
.allbios{
  text-align: center;
}
.allbios > div {
  display: inline-block;
}
.bryan{
  width: 31%;
}
.amber{
  width: 31%;
}
.shuying{
  width: 30%;
}
.devpics img{
  height: 200px;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 50px;
  padding-bottom: 30px;
  float: left;
}
.developernames{
  font-family: Helvetica Neue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
#devparagraphs{
  padding-top: 5%;
  padding-bottom: 20%;
  font-weight: lighter;
  color: grey;
  font-size: 13pt;
  line-height: 30px;
  letter-spacing: 2px;
  text-align: center;
}
/*Start of a new page----------------*/
a:link {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color:inherit;
  text-decoration: none;
}
