<!DOCTYPE html>
<html id = 'everything'>
<head> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src= "https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"href="stylesheets/drop.css">
<!-- <script src="/javascript/AboutMe.js" ></script> -->
<title>Drop</title> 
<div class = "page">
<div id = "navBar">
  <div class="navTab" id = "teardrop" ><img  src='/images/TearDrop.png'></div>

  <div class="navTab"  id= 'about'>About</div>
  <div class="navTab" ><a href = "#twitter">Twitter<a></div>
  <div class="navTab" >YouTube</div>
  <div class="navTab" >Instagram</div>
  <div class="navTab" >Facebook</div>
  <div class="navTab"><a href = '#experience'>Experience it</a></div>
  <div class="navTab"  id= "drop">Drop</div>
</div>
</div>
</head> 
<body>
<div class = 'page'>
    <div class = 'welcomeWrapper'>
      <img id = 'water' src="/images/water.jpg">
      <div class = 'welcome'>
        Welcome to Drop.
      </div>
    </div>
</div> 
<div id = 'experience'>
</div>
<div id = "letMe">
  Let me give you some background,
</div>
<div id = "paragraph">
   Drop was a mere concept that that had been in development for the past 20 years,
   and now, the developers at Triple EPIC are proud to present the unveiling of the latest multi-use social media site. Together, Triple EPIC was able to create the groundbreaking website of Drop. After many years of adversity, obstacles, and challenges, Drop is now avaliable to the public. The developers say that it wasn't easy, but that they are proud of the outcome. Overall, the company is still famous for the slogan that they base all of their work off of. The ocean was created, with the start of a single drop.
 </div>
<a class="twitter-timeline"
  href="https://twitter.com/Ambuerrs_J/lists/popular-users"
  data-widget-id="626074924570931200">Tweets from https://twitter.com/Ambuerrs_J/lists/popular-users</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
  p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);
    js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}
    (document,"script","twitter-wjs");</script>
<p>
  {% for picture in link %}
    <img src="{{ picture }}">
  {% endfor %}
</p>

</body> 
<html>
