<!DOCTYPE html>
<html id = 'everything'>
<head> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src= "https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" type="text/css"href="stylesheets/drop.css">
<!-- <script src="/javascript/AboutMe.js" ></script> -->
<title>Drop</title> 
</head> 
<body>
<img id = 'water' src="/images/water.jpg">
<div class = "banner">
  <img id="teardrop"src='/images/TearDrop.png'>
  <div class = "nav">
    <div class = "header">
        <ul>
          <li id= 'about'>About</li>
          <li>Twitter</li>
          <li>YouTube</li>
          <li>Instagram</li>
          <li>Facebook</li>
          <li id= "drop">Drop</li>
        </ul>
    </div>
  </div>
</div>
<div class = "welcome">Welcome to Drop.</div> 


</body> 
<html>
